<html>
<head>
	<title>Hubot+Instagram</title>
</head>
<style type="text/css">
	body {
		margin: 50px 0;
		font-family: Helvetica, Arial, sans-serif;
		font-size: 12px;
	}
	
	#users {
		margin: 0 auto;
		width: 300px;
		list-style: none;
		padding: 0;
	}

	#users li {
		padding: 5px 3px;
		border-bottom: 1px solid #ddd;;
	}

	.authorized { background: #efe; }
	.unauthorized { background: #fee; }

	#users a { float: right; }

	h3 {
		margin: 0 0 20px 0;
	}

	h3 a {
		font-weight: normal;
	}
</style>
<body>
{{{yield}}}
</body>
</html>


